:root {
  /* Primary */
  --scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --lizard-gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);

  /* Neutral */
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);

  /* Background */
  --background-gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);

  /* Color text */
  --white: #fff;
}

.body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(var(--background-gradient));
  overflow-x: hidden;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header__content {
  width: 90%;
  height: 90%;
  max-height: 110px;
  border: var(--header-outline) 3px solid;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: .8rem;
}

.header__content__title__item {
  font-weight: bolder;
  font-size: 14px;
  line-height: 12px;
  text-transform: uppercase;
}

.header__content__score-container {
  height: 100%;
  width: 25%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 120px;
  border-radius: 6px;
}

.header__content__score-container__title {
  letter-spacing: 2px;
  color: var(--score-text);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 12px;
}

.header__content__score-container__number {
  color: var(--dark-text);
  font-size: 36px;
  line-height: 30px;
}

.main {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
}

.main__content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main__false {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
}

.main__content__background {
  position: absolute;
  max-width: 460px;
  width: 65%;
  object-fit: cover;
}

.main__content__buttons {
  height: 85%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main__content__buttons__scissors-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 12px;
}

.main__content__buttons__paperAndspock-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.main__content__buttons__rockAndlizard-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 0 2.5rem;
  position: absolute;
  bottom: 12px;
}

.main__content__buttons__container {
  height: 80px;
  width: 80px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: .8rem;
}

.scissors-border {
  width: 110px;
  height: 110px;
  background: linear-gradient(var(--scissors-gradient));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.spock-border {
  width: 110px;
  height: 110px;
  background: linear-gradient(var(--cyan));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.paper-border {
  width: 110px;
  height: 110px;
  background: linear-gradient(var(--paper-gradient));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lizard-border {
  width: 110px;
  height: 110px;
  background: linear-gradient(var(--lizard-gradient));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rock-border {
  width: 110px;
  height: 110px;
  background: linear-gradient(var(--rock-gradient));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.scissors-border-2 {
  width: 110px;
  height: 110px;
  background: linear-gradient(var(--scissors-gradient));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spock-border-2 {
  width: 110px;
  height: 110px;
  background: linear-gradient(var(--cyan));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper-border-2 {
  width: 110px;
  height: 110px;
  background: linear-gradient(var(--paper-gradient));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lizard-border-2 {
  width: 110px;
  height: 110px;
  background: linear-gradient(var(--lizard-gradient));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rock-border-2 {
  width: 110px;
  height: 110px;
  background: linear-gradient(var(--rock-gradient));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.waiting {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.waiting__border {
  width: 110px;
  height: 110px;
  background: var(--dark-text);
  border-radius: 50%;
}

.footer {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__rules {
  border: var(--white) 2px solid;
  border-radius: 8px;
  padding: 10px 2.6rem;
  background-color: transparent;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 3px;
}

.footer__rules {
  cursor: pointer;
}

/* Rule section */

.rule-container {
  display: none;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rule-content {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: var(--white);
  top: 0;
  z-index: 10;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.rule-title {
  color: var(--dark-text);
  font-size: 32px;
  text-transform: uppercase;
}

.rule-image {
  width: 85%;
}

.rule-exit:hover {
  cursor: pointer;
}

/* Round Section */
.round {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round2 {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-round {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: .8rem;
}

.container-round2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: .8rem;
}

.main__content__buttons__container-2 {
  height: 75%;
  width: 75%;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round__text {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
}

/* Section buttons */

.container-buttons {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 1rem;
  bottom: 0;
}

.container-buttons__text {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1px;
}

.container-buttons__button {
  border: none;
  color: var(--dark-text);
  text-transform: uppercase;
  padding: .8rem 3.5rem;
  border-radius: 8px;
  letter-spacing: 2px;
}

.container-buttons__button:hover {
  cursor: pointer;
}

/* Hidden */
.hidden {
  display: none;
}

@media screen and (min-width: 500px) {
  .header__content {
    max-width: 600px;
  }

  .main {
    height: 70%;
    max-height: 420px;
  }

  .main__false {
    align-items: center;
  }

  .main__content {
    max-width: 450px;
  }

  .main__content__buttons {
    height: 100%;
  }

  .main__content__buttons__scissors-container {
    top: 0;
  }

  .round {
    flex-direction: column-reverse;
  }

  .container-round {
    flex-direction: column-reverse;
  }

  .container-buttons {
    position: static;
    order: 2;
  }

  .scissors-border-2 {
    width: 160px;
    height: 160px;
    background: linear-gradient(var(--scissors-gradient));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spock-border-2 {
    width: 160px;
    height: 160px;
    background: linear-gradient(var(--cyan));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .paper-border-2 {
    width: 160px;
    height: 160px;
    background: linear-gradient(var(--paper-gradient));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lizard-border-2 {
    width: 160px;
    height: 160px;
    background: linear-gradient(var(--lizard-gradient));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rock-border-2 {
    width: 160px;
    height: 160px;
    background: linear-gradient(var(--rock-gradient));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .waiting {
    flex-direction: column-reverse;
  }

  .waiting__border {
    width: 160px;
    height: 160px;
  }

  .container-round2 {
    flex-direction: column-reverse;
  }

  .round2 {
    order: 3;
  }

  .footer {
    position: absolute;
    justify-content: end;
    height: 15%;
    bottom: 0;
  }

  .footer__rules {
    margin-right: 1.5rem;
  }

  /* rules */

  .rule-container {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    display: none;
  }

  .rule-content {
    max-width: 250px;
    max-height: 300px;
    position: relative;
    display: block;
    padding: 1rem;
    border-radius: 8px;
  }

  .rule-title {
    height: 10%;
    margin-bottom: 1rem;
  }

  .rule-image {
    width: 100%;
    height: 80%;
    margin: auto;
  }

  .rule-exit {
    position: absolute;
    top: 1.6rem;
    right: 1.2rem;
  }
}